.bars{
  display:flex;
  flex-direction: row;
  align-items: center;
  Position:fixed;
  background-color: black;
  Color:white;
  height:75px;
  width: 100%;
  font-weight:bold;
  padding-left: 40px;
}

#nav{
  top:0;

}
.nav-links{
  color:white;
  font-size: 18px;
  font-weight:bold;
  font-family: Roboto,sans-serif;
  padding-left: 40px;
  position:relative;
  padding-top: 20px;
  text-decoration: none;
  padding-bottom: 20px;
}
.right-justified{
  position: absolute;
  right:100px;
  display: inline;
}
#footer{
  bottom:0;

}